section {
  &.post-featured-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    gap: 80px;
    @media (max-width: $xl) {
      margin-bottom: 50px;
      gap: 50px;
    }
    @media (max-width: $lmd) {
      flex-direction: column;
    }
    .post-col {
      &.img-col {
        flex: 0.6;
      }
      &.info-col {
        flex: 0.4;
      }
      @media (max-width: $xl) {
        &.img-col,
        &.info-col {
          flex: 0.5;
        }
      }
      @media (max-width: $lmd) {
      }
    }
    .img-col {
      a {
        text-decoration: none;
        display: block;
        height: 100%;
      }
      figure {
        position: relative;
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        .gradient,
        figcaption {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
        img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 0;
        }
        .gradient {
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 51.54%,
            rgba(0, 0, 0, 0.6) 81.94%
          );
          z-index: 5;
        }
        figcaption {
          height: auto;
          z-index: 10;
          text-align: right;
          color: $color_white;
          box-sizing: border-box;
          padding: 40px;
          p {
            margin: 0;
            &:first-child {
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .info-col {
      display: flex;
      align-items: center;
      .info-wrapper {
        color: $color_black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        h5.date {
          margin: 0;
        }
        h2 {
          margin: 0;
          a {
            text-decoration: none;
            @include transition(color 0.3s ease-in-out);
            color: $color_black;
          }
          &:hover {
            a {
              color: $color_primary_2;
            }
          }
        }
        p.excerpt {
          margin: 0;
          font-size: 20px;
          line-height: 1.8;
        }
        .custom-btn-wrapper {
          text-align: left;
        }
      }
    }
  }
}
