.post-item-wrapper {
  height: 100%;
  position: relative;
  a {
    text-decoration: none;
    display: block;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .post-item {
    height: 100%;
    background-color: $color_light_gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .post-media {
    flex: 1;
    //height: 58%;
  }
  .post-description {
  }

  .post-media {
    figure {
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .post-description {
    div {
      height: 100%;
      overflow: hidden;
      padding: 30px;

      box-sizing: border-box;
      @media (max-width: $md) {
        padding: 20px;
      }
    }
    h4 {
      color: $color_black;
      margin: 0 0 15px;
    }
    p {
      margin: 0;
      color: $color_secondary;
      font-size: 16px;
      line-height: 1.4;
    }
  }
}
