section {
  &.single-post-wrapper {
    .container-custom {
      max-width: 960px;
    }
    .post-header-wrapper {
      margin-bottom: 50px;
      h2 {
        margin: 0 0 15px;
      }
      h5 {
        margin: 0;
      }
    }
    .post-image {
      margin-bottom: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .post-content {
      margin-bottom: 50px;
      line-height: 1.5;
      font-size: 18px;
      @media (max-width: $lmd) {
        font-size: 16px;
      }
      p {
        line-height: inherit;
      }
      a {
        text-decoration: underline;
        color: $color_primary;
      }
      ul,
      ol {
        padding-left: 1em;
      }
    }
  }
}

.post-share {
  .share-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 24px;
    p {
      margin: 0;
    }
    a {
      font-size: 30px;
      text-decoration: none;
      color: $color_primary;
      @include transition(color 0.3s ease-in-out);
      &:hover {
        color: $color_secondary;
      }
    }
  }
}
