//@import "../../assets/scss/vars/colors";
//@import "../../assets/scss/vars/breakpoints";
@import "../../assets/scss/vars/mixins";

section {
  &.video-iframe-block-wrapper {
    overflow: hidden;
    .video-iframe-wrapper {
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        display: block;
        padding-bottom: 54%;
      }
      .iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
      }
      .video-preview {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 5;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 0;
        }
        > span {
          position: absolute;
          font-size: 50px;
          left: 50%;
          top: 50%;
          z-index: 10;
          @include transform(translate(-50%, -50%));
        }
      }
    }
  }
}
