@import "../../assets/scss/vars/colors";
@import "../../assets/scss/vars/breakpoints";
//@import "../../assets/scss/vars/mixins";

section {
  &.posts-grid-block-wrapper {
    margin-bottom: 100px;
    @media (max-width: $lg) {
      margin-bottom: 75px;
    }
    @media (max-width: $sm) {
      margin-bottom: 50px;
    }
    @import "../common/scss/info-header";
    .posts-grid-wrapper {
      .posts-grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 60px;
        @media (max-width: $xl) {
          margin-left: -20px;
          margin-right: -20px;
          margin-bottom: 40px;
        }
        .posts-grid-item {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
          padding: 0 30px;
          box-sizing: border-box;
          margin: 30px 0;
          height: 450px;
          @media (max-width: $xl) {
            padding: 0 20px;
            margin: 20px 0;
          }
          @media (max-width: $lg) {
            flex: 0 0 50%;
            max-width: 50%;
          }
          @media (max-width: $md) {
            flex: 0 0 100%;
            max-width: 100%;
            height: auto;
            min-height: 350px;
          }
          @media (max-width: $smd) {
          }
        }
      }
    }
  }
}
