//@import "../../assets/scss/vars/colors";
@import "../../assets/scss/vars/breakpoints";

section {
  &.text-columns-block-wrapper {
    position: relative;
    overflow: hidden;
    @import "../common/scss/info-header";
    .bg-img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container-custom {
      position: relative;
      z-index: 5;
    }
    .text-columns-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      margin-left: -12px;
      margin-right: -12px;
      @media (max-width: $lg) {
        align-items: normal;
      }
      .text-column-col {
        padding: 0 12px;
        box-sizing: border-box;
        flex: 0 0 25%;
        max-width: 25%;
        @media (max-width: $lg) {
          flex: 0 0 50%;
          max-width: 50%;
          margin: 12px 0;
        }
        @media (max-width: $md) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .text-column {
        height: 100%;
        padding: 30px 25px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        @media (max-width: $md) {
          padding: 15px;
        }
        img {
          width: 100px;
        }
        h5 {
          text-transform: uppercase;
          margin: 0;
        }
        .text {
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .custom-btn-wrapper {
      margin-top: 50px;
    }
  }
}
