@import "../assets/scss/vars/colors";
@import "../assets/scss/vars/breakpoints";
@import "../assets/scss/vars/mixins";

.wp-block {
  max-width: 1280px;
  // STYLES DEL FRONT
  @import "../assets/scss/global/fonts";
  @import "../assets/scss/global/global";
  @import "../assets/scss/global/extras";
  @import "../assets/scss/global/custom-btn";

  // BUTTONS
  .custom-btn {
    pointer-events: none !important;
  }
  // SWIPER
  .swiper {
    .custom-loader {
      display: none;
    }
    .swiper-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}
