@import "../../assets/scss/vars/colors";
@import "../../assets/scss/vars/breakpoints";

section {
  &.post-slider-block-wrapper {
    padding: 100px 0;
    @media (max-width: $lg) {
      padding: 75px 0;
    }
    @media (max-width: $sm) {
      padding: 50px 0;
    }
    &.layout-light {
      color: $color_secondary;
    }
    &.layout-dark {
      background-color: $color_secondary;
      color: $color_white;
    }
    .post-slider-wrapper {
      padding: 0 8.5%;
      @media (max-width: $xl) {
        padding: 0 50px;
      }
      @media (max-width: $lmd) {
        padding: 0 30px;
      }
      @media (max-width: $smd) {
        padding: 0 15px;
      }
      .post-slider-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        .tag-wrapper {
          margin-bottom: 0;
        }
        @media (max-width: $md) {
          margin-bottom: 30px;
        }
      }
      .post-slider {
        .swiper-wrapper {
          margin-bottom: 100px;
          @media (max-width: $lg) {
            margin-bottom: 75px;
          }
          @media (max-width: $sm) {
            margin-bottom: 50px;
          }
          .swiper-slide {
            height: auto;
            min-height: 364px;
          }
        }
      }
    }

    &.is-admin {
      a {
        pointer-events: none;
      }
      .post-slider-wrapper {
        .post-slider {
          .swiper-wrapper {
            display: flex;
            margin: 0 -15px;
            .swiper-slide {
              flex: 0 0 25%;
              max-width: 25%;
              padding: 0 15px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

// INSIDE GRID CONTAINER
section.grid-container-block-wrapper {
  section.post-slider-block-wrapper {
    padding: 0;
    .post-slider-wrapper {
      padding: 0;
    }
  }
}
