.products-by-categories-wrapper {
  padding-top: 4em;
  padding-bottom: 3em;
  @media only screen and (min-width: $smd) {
    padding-top: 6em;
    padding-bottom: 4em;
  }
  @media only screen and (min-width: $lmd) {
    padding-top: 8em;
    padding-bottom: 6em;
  }

  > .container-fluid {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1280px;
    @media only screen and (min-width: $smd) {
      padding-left: 2em;
      padding-right: 2em;
    }

    > .row {
      justify-content: center;
    }
  }

  .products-by-categories-title {
    margin: 0 auto 3em;
    max-width: $md;

    h2 {
      text-transform: uppercase;
      font-size: 2em;
      line-height: 0.85em;
      text-align: center;
      margin-bottom: 2.4rem;
      @media only screen and (min-width: $lg) {
        font-size: 2.4em;
      }
    }

    h3 {
      text-align: center;
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 0;
      font-weight: 400;
    }
  }

  .products-by-categories-cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    a {
      width: 100%;
      //flex-basis: 100%;
      margin: 0 0 1em;
      cursor: pointer;
      justify-content: center;

      &.active {
        background-color: $color_black;
        color: $color_white;
      }
    }
    @media only screen and (min-width: $xsm) {
      margin-bottom: 4em;
      a{
        margin: 0 0.8em 1em;
        width: auto;
      }
    }
  }

  .products-by-categories-prods {
    position: relative;

    .products {
      visibility: visible;
      opacity: 1;
      margin-bottom: 3em;
      @include transition(opacity .3s ease, visibility .3s ease);

      > .row {
        margin-bottom: 4em;
      }

      .slick-list {
        //width: 100%;
        padding-top: 4px;
        margin: 0;
        @media only screen and (min-width: $smd) {
          margin: 0 2em;
        }
        @media only screen and (min-width: $xxl) {
          margin: 0;
        }

        .slick-track {
          display: flex;
          padding-bottom: 10px;
          .slick-slide {
            flex: 1 !important;
            height: auto !important;
          }
        }

        .product {
          margin-bottom: 0 !important;
          a{
            outline: none;
            h3{
              outline: none;
            }
          }
        }
      }

      .slick-slider {
        opacity: 0;
        visibility: hidden;
        @include transition(opacity 0.3s ease .1s);

        .slick-arrow {
          cursor: pointer;
          border: solid $color_black;
          border-width: 0 0.25em 0.25em 0;
          display: none !important;
          padding: .4em;
          position: absolute;
          top: 50%;
          @media only screen and (min-width: $smd) {
            display: inline-block !important;
          }
          @include transition(border-color 0.3s ease);

          &.slick-prev {
            left: 0;
            @include transform(translateY(-50%) rotate(135deg));
            @media only screen and (min-width: $xxl) {
              left: -20px;
            }
          }

          &.slick-next {
            right: 0;
            @include transform(translateY(-50%) rotate(-45deg));
            @media only screen and (min-width: $xxl) {
              right: -20px;
            }
          }

          &:hover {
            border-color: $color_red;
          }
        }

        &.slick-initialized {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &.loading-products {
      .products {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}