@import "../../assets/scss/vars/colors";
@import "../../assets/scss/vars/breakpoints";

section {
  &.iframe-block-wrapper {
    padding: 60px 0;
    @media (max-width: $lg) {
      padding: 45px 0;
    }
    @media (max-width: $sm) {
      padding: 30px 0;
    }
    .iframe-wrapper {
      padding-right: 70px;
      padding-left: 70px;
      @media (max-width: $xl) {
        padding-right: 50px;
        padding-left: 50px;
      }
      @media (max-width: $lmd) {
        padding-right: 30px;
        padding-left: 30px;
      }
      @media (max-width: $smd) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &.layout-light {
    }
    &.layout-dark {
      background-color: $color_secondary;
    }
    &.is-admin {
      iframe {
        pointer-events: none !important;
      }
    }
  }
}

// INSIDE GRID CONTAINER
section.grid-container-block-wrapper {
  section.iframe-block-wrapper {
    padding: 0;
    background-color: inherit;
    //color: inherit;
    .iframe-wrapper {
      padding: 0;
    }
  }
}
