$colors: (
  "black": $color_black,
  "white": $color_white,
  "light-gray": $color_light_gray,
  "gray": $color_gray,
  "dark-gray": $color_dark_gray,
  "primary": $color_primary,
  "primary-2": $color_primary_2,
  "secondary": $color_secondary,
);

//@use "sass:map";
//.has-background {
//  &.has-primary-background-color {
//    background-color: map.get($colors, "primary");
//  }
//}

@each $slug, $color in $colors {
  .has-#{$slug}-color {
    color: $color;
  }
  .has-#{$slug}-background-color {
    background-color: $color;
  }
}

// GRADIENTS
.has-half-black-gradient-background {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0) 100%
  );
}
.has-primary-to-secondary-gradient-background {
  background: linear-gradient(
    135deg,
    $color_primary,
    0%,
    $color_secondary,
    100%
  );
}
