// CUSTOM BTN
.custom-btn-wrapper {
  text-align: center;
  @include transition(opacity 0.3s ease, visibility 0.3s ease);

  .custom-btn {
  }

  &.with-loader {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    .custom-loader {
      margin-left: 20px;
      font-size: 3px;
      opacity: 0;
    }

    &.loading {
      .custom-loader {
        opacity: 1;
      }
    }

    &.disabled {
      .custom-btn {
        cursor: not-allowed;
      }
    }
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.custom-btn {
  text-decoration: none !important;
  cursor: pointer;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  @include border-radius(10px);
  @include transition(background-color 0.3s ease);
  p {
    margin: 0 !important;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    @include transition(color 0.3s ease);
  }
  span {
    display: flex;
    width: 22px;
    svg {
      width: auto;
      path {
        @include transition(fill 0.3s ease);
      }
    }
  }
  &.small {
    padding: 10px 25px;
    p {
      font-size: 15px;
    }
  }
  &.with-icon {
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
    &.small {
      gap: 0 25px;
    }
  }
  &.only-icon {
    min-width: auto;
    padding: 5px;
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  &:hover {
    text-decoration: none;
  }

  &.dark {
    background-color: $color_primary;
    p {
      color: $color_white;
    }
    span {
      svg {
        path {
          fill: $color_white;
        }
      }
    }
    &.disabled {
      background-color: $color_light_gray;
    }
    &:hover {
      span {
        svg {
          path {
            fill: $color_secondary;
          }
        }
      }
    }
  }
  &.light {
    background-color: $color_white;
    p {
      color: $color_primary;
    }
    span {
      svg {
        path {
          fill: $color_primary;
        }
      }
    }
    &.disabled {
      background-color: $color_light_gray;
      p {
        color: $color_white;
      }
      span {
        svg {
          path {
            fill: $color_white;
          }
        }
      }
    }
    &:hover {
      span {
        svg {
          path {
            fill: $color_secondary;
          }
        }
      }
    }
  }
  &.alternative {
    background-color: $color_secondary;
    p {
      color: $color_white;
    }
    span {
      svg {
        path {
          fill: $color_white;
        }
      }
    }
    &.disabled {
      background-color: $color_light_gray;
    }
    &:hover {
      span {
        svg {
          path {
            fill: $color_primary;
          }
        }
      }
    }
  }
  // NO BACKGROUND
  &.ghost {
    min-width: auto;
    background-color: transparent !important;
    padding: 0;
    span {
      font-size: 34px;
    }
    &.with-icon {
      span {
        margin-left: 5px;
      }
    }
    &.disabled {
      color: $color_light_gray;
      span {
        svg {
          fill: $color_light_gray;
        }
      }
    }
    &.dark {
      color: $color_secondary;
      p {
        color: $color_secondary;
      }
      span {
        svg {
          fill: $color_secondary;
        }
      }
      &:hover {
        color: $color_primary;
        p {
          color: $color_primary;
        }
        span {
          svg {
            fill: $color_primary;
          }
        }
      }
    }
    &.light {
      color: $color_white;
      p {
        color: $color_white;
      }
      span {
        svg {
          fill: $color_white;
        }
      }
      &:hover {
        color: $color_primary;
        p {
          color: $color_primary;
        }
        span {
          svg {
            fill: $color_primary;
          }
        }
      }
    }
  }
}

button {
  &:focus {
    outline: none !important;
  }
}
// CUSTOM BTN

// CLOSE BTN
.close-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $color_black;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: $smd) {
    width: 50px;
    height: 50px;
  }
  svg {
    width: 10px;
    height: 10px;
    fill: $color_black;
    opacity: 0.7;
    @include transition(opacity 0.3s ease);
    @media only screen and (min-width: $smd) {
      width: 18px;
      height: 18px;
    }
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}
// CLOSE BTN

// GO TOP
.go-top-btn {
  cursor: pointer;
  position: fixed;
  right: 0.5rem;
  bottom: 0.66rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include transition(opacity 0.3s ease);

  .go-top-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.3333rem;
    @include transform(rotate(-135deg));
  }

  .go-top-line {
    margin-top: -0.7333rem;
    width: 2px;
    height: 2.6666rem;
    background-color: $color_black;
  }

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }

  &.bottom {
    // position: absolute;
  }
}
// GO TOP
