// SCROLLBAR
*::-webkit-scrollbar {
  width: 0.6em;
}

*::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
// SCROLLBAR

// OVERLAY
#overlay-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
// OVERLAY

// LOADER
.custom-loader {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 0;
  font-size: 6px;
  position: relative;
  border-top: 1.1em solid rgba(29, 29, 29, 0.2);
  border-right: 1.1em solid rgba(29, 29, 29, 0.2);
  border-bottom: 1.1em solid rgba(29, 29, 29, 0.2);
  border-left: 1.1em solid $color_black;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.custom-loader-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity 0.3s ease, visibility 0.3s ease);

  &.show-loader {
    visibility: visible;
    opacity: 1;
  }

  .custom-loader {
    font-size: 8px;
  }
}
// LOADER

// COOKIES
#gdpr-cookie-message {
  position: fixed;
  z-index: 500;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color_white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
  border-top: 1px solid $color_dark_gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
  @media only screen and (max-width: $lmd) {
    padding: 15px;
  }
  h4 {
    display: none;
    color: $color_black;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
  }

  p {
    //flex: 1;
    font-size: 14px;
    line-height: 1.2;
    color: $color_black;
    margin: 0 auto 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    @media only screen and (max-width: $lmd) {
      gap: 15px;
    }

    a {
      color: $color_black;
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }

  #gdpr-cookie-accept,
  #gdpr-cookie-advanced {
    text-decoration: none !important;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    @include transition(
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease
    );
    border-color: $color_secondary;
    background-color: $color_secondary;
    color: $color_white;
    @media (max-width: $lmd) {
      padding: 10px 20px;
    }
    &:hover {
      border-color: $color_primary;
      background-color: $color_primary;
    }
  }
  #gdpr-cookie-advanced {
  }
  #gdpr-cookie-accept {
  }

  #gdpr-cookie-advanced {
  }
  #gdpr-cookie-types {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    gap: 25px;
    @media only screen and (max-width: $lmd) {
      gap: 15px;
    }
    h5 {
      margin: 0;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
// COOKIES
