form {
  .form-row {
    position: relative;
  }
  .input-wrapper {
    position: relative;
    margin-bottom: 24px;

    &.with-icon {
      input {
        padding: 0 60px 0 22px;
      }

      span {
        &.input-icon {
          position: absolute;
          right: 12px;
          top: 13px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    outline: none;
    border: none;
    float: none;
    padding: 1em;
    margin: 0;
    font-size: 1em;
    line-height: 1;
    color: $color_black;
    box-shadow: none;
    @include transition(box-shadow 0.3s ease);
    @include border-radius(0 !important);

    &:focus {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    &[type="submit"] {
      width: 100%;
    }
  }

  button {
    &[type="submit"] {
      width: 100%;
    }
  }

  textarea {
    font-family: "Roboto", sans-serif;
    width: 100%;
    resize: none;
    height: 6rem !important;
    color: $color_black;
    font-size: 1rem;
    line-height: 1.4rem !important;
    outline: none;
    border: none;
    float: none;
    padding: 0.5rem 1rem;
    box-shadow: none;
    @include border-radius(0 !important);
    @include transition(box-shadow 0.3s ease);

    &:focus {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
  }

  span {
    &.woocommerce-input-wrapper {
      width: 100%;
      display: block;
    }
  }

  .checkbox-wrapper {
    .checkmark {
      border: 1px solid $color_black;
    }
  }
}

// CUSTOM CHECKBOX
.checkbox-wrapper {
  label {
    display: flex !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    margin: 0;
    @media only screen and (min-width: $md) {
      font-size: 15px !important;
    }
    a {
      color: $color_black;
      margin-left: 0.5em;
    }
    [type="checkbox"] {
      //display: none !important;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: none !important;
      //opacity: 0;
      //visibility: hidden;
      width: 1px;
      //height: 1px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    [type="checkbox"] + span {
      position: relative;
      margin: 0;
      cursor: pointer;
      padding-left: 1.5em;
      display: block;
      &:before {
        content: "";
        width: 1em;
        height: 1em;
        border: 1px solid $color_black;
        position: absolute;
        left: 0;
        top: 2px;
        display: block;
      }
      &:after {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        color: $color_black;
        font-weight: 700;
        display: block;
        position: absolute;
        opacity: 0;
        z-index: 0;
        left: 2px;
        top: 4px;
        width: 1em;
        height: 1em;
        font-size: 0.8em;
        line-height: 1;

        text-align: center;
        @include transition(opacity 0.3s ease);
      }
    }
    [type="checkbox"]:checked + span {
      &:after {
        opacity: 1;
      }
    }
    [type="checkbox"]:hover + span {
    }
    [type="checkbox"]:focus + span {
    }
    [type="checkbox"]:disabled + span {
    }
  }
  &.white-checkbox {
    label {
      color: $color_white;
      a {
        color: $color_white;
      }
      [type="checkbox"] + span {
        &:before {
          border: 1px solid $color_white;
        }
        &:after {
          color: $color_white;
        }
      }
    }
  }
}
// CUSTOM CHECKBOX

// MAILCHIMP CHECKBOX
.mailchimp-newsletter {
  padding: 0 !important;
  [type="checkbox"] {
    //display: none !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    //opacity: 0;
    //visibility: hidden;
    width: 1px;
    //height: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  [type="checkbox"] + label {
    position: relative;
    margin: 0;
    cursor: pointer;
    padding-left: 1.5em;
    display: block;
    &:before {
      content: "";
      width: 1em;
      height: 1em;
      border: 1px solid $color_black;
      position: absolute;
      left: 0;
      top: 2px;
      display: block;
    }
    &:after {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      color: $color_black;
      font-weight: 700;
      display: block;
      position: absolute;
      opacity: 0;
      z-index: 0;
      left: 2px;
      top: 4px;
      width: 1em;
      height: 1em;
      font-size: 0.8em;
      line-height: 1;

      text-align: center;
      @include transition(opacity 0.3s ease);
    }
  }
  [type="checkbox"]:checked + label {
    &:after {
      opacity: 1;
    }
  }
  [type="checkbox"]:hover + label {
  }
  [type="checkbox"]:focus + label {
  }
  [type="checkbox"]:disabled + label {
  }
  label {
    display: flex !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    margin: 0;
    @media only screen and (min-width: $md) {
      font-size: 15px !important;
    }
    a {
      color: $color_black;
      margin-left: 0.5em;
    }
  }
}
// MAILCHIMP CHECKBOX

// SELECT 2
select.select2 {
  visibility: hidden;
}

select.select2-hidden-accessible {
  bottom: 0;
}

span.select2-container {
  position: relative;
  font-size: 15px;
  width: auto !important;
  height: 2em;
  .selection {
    display: block;
    height: 100%;
  }
  .select2-selection {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &:focus {
    }

    .select2-selection__rendered {
      width: 3em;
      text-align: center;
      padding: 0;
      margin-left: 0.5em;
      font-size: 1em;
      line-height: 1em;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: $color_secondary;
      display: inline-block;
      vertical-align: middle;
    }

    .select2-selection__arrow {
      margin-left: 0.5em;
      margin-right: 0.5em;
      pointer-events: none;
      position: relative;
      transform-origin: center;
      top: auto;
      right: auto;
      width: 0;
      height: 0;
      border-left: 0.3333em solid transparent;
      border-right: 0.3333em solid transparent;
      border-top: 0.3333em solid $color_gray;
      display: inline-block;
      vertical-align: middle;
      b {
        display: none;
      }
    }
  }
}

body {
  span.select2-dropdown {
    z-index: 90;
    border-radius: 0 !important;
    border: 1px solid $color_gray !important;
    .select2-results {
      ul {
        font-size: 15px;

        li {
          border-radius: 0;
          padding: 0.5em 1.1em 0.5em 0;
          text-align: center;
          font-size: 1em;
          line-height: 1;
          font-family: "Roboto", sans-serif;
          font-weight: 400;

          &.select2-results__option--highlighted[aria-selected="true"] {
            background-color: $color_gray;
            color: $color_black;
          }

          &.select2-results__option--highlighted[aria-selected] {
            background-color: $color_black;
            color: $color_white;
          }

          .option-flex {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            span {
              &.right {
                font-size: 0.66em;
                font-weight: 300;
              }
            }
          }
        }
        &.select2-results__options {
          @media only screen and (max-width: $smd) {
            max-height: 50vh;
          }
        }
      }
    }
  }
}
// SELECT 2
