html {
  font-size: 15px;
  letter-spacing: 0.04em;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: $color_light_gray;

  &.no-scroll {
    overflow: hidden;
    padding-right: 0.6em;
  }
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.02em;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

a {
  color: $color_black;

  &:hover {
    color: inherit;
  }
}
p {
  a {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.disable-text-selector {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.icon {
  display: flex;
  svg {
    width: 100%;
    height: auto;
  }
}

// CONTAINERS - SECTIONS
.container-custom-fluid {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  @media (max-width: $lmd) {
    padding: 50px 30px;
  }
  @media (max-width: $smd) {
    padding: 50px 15px;
  }
}
.container-custom {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

// SWIPER
.swiper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .custom-loader {
    font-size: 4px;
    position: absolute;
  }
  .swiper-wrapper {
    opacity: 0;
    visibility: hidden;
  }
  &.swiper-initialized {
    .custom-loader {
      display: none;
    }
    .swiper-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}
.is-admin {
  .custom-loader {
    display: none;
  }
  .swiper-wrapper {
    opacity: 1;
    visibility: visible;
  }
}
// SWIPER
