header.header-theme {
  @include transition(opacity 0.3s ease, top 0.3s ease);
  @media only screen and (max-width: $lmd) {
  }
}

// HEADER FIXED

html {
  &[data-scrolldir="up"] {
    body {
      &.header-fixed {
        header.header-theme {
          top: 0;
          opacity: 1;
        }
      }
    }
  }

  &[data-scrolldir="down"] {
    body {
      &.header-fixed {
        header.header-theme {
          top: -100%;
          opacity: 0;
        }
      }
    }
  }
}

body {
  &.header-fixed {
    header.header-theme {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }
}
