.modal-wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba($color_black, 0.8);
  }
  .modal-content-wrapper {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .modal-close {
      position: absolute;
      right: 70px;
      top: 70px;

      z-index: 10;
      cursor: pointer;
      display: flex;
      span {
        color: $color_white;
        width: 40px;
      }
      &:hover {
        span {
          color: $color_secondary;
        }
      }
      @media (max-width: $xxl) {
        right: 20px;
        top: 30px;
      }
      @media (max-width: $lmd) {
        right: 10px;
      }
    }
    .swiper-button-prev {
      left: 70px;
      @media (max-width: $xxl) {
        left: 15px;
      }
      @media (max-width: $lmd) {
        left: 5px;
      }
    }
    .swiper-button-next {
      right: 70px;
      @media (max-width: $xxl) {
        right: 15px;
      }
      @media (max-width: $lmd) {
        right: 5px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      width: auto;
      height: auto;
      &:after {
        content: none;
        display: none;
      }
      span {
        width: 20px;
        svg {
          path {
            fill: $color_white;
            @include transition(fill 0.3s ease-in-out);
          }
        }
      }
      &:hover {
        svg {
          path {
            fill: $color_secondary;
          }
        }
      }
      &.swiper-button-disabled {
        pointer-events: auto !important;
      }
    }
    .modal-content {
      height: 100%;
      max-width: 100%;
      //flex: 0 0 1366px;
      box-sizing: border-box;
      @media (max-width: $xxl) {
        max-width: 100%;
        flex: 0 0 100%;
      }
      &.full-width {
        max-width: 100%;
        flex: 0 0 100%;
      }
      .container-custom-fluid {
        height: 100%;
      }
      .modal-content-video {
        width: 100%;
        position: relative;
        overflow: hidden;
        &:before {
          content: "";
          display: block;
          padding-bottom: 54%;
        }
        iframe {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .modal-content-gallery {
        height: 100%;
        position: relative;
        @media (max-width: $xl) {
          padding-right: 20px;
          padding-left: 20px;
        }
        @media (max-width: $lmd) {
        }
        @media (max-width: $smd) {
          padding-right: 40px;
          padding-left: 40px;
        }
        .swiper {
          height: 100%;
          .swiper-wrapper {
            height: 100%;
            .swiper-slide {
              position: relative;
              .slide-img {
                position: relative;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                figure {
                  display: flex;
                  position: relative;
                  height: 100%;
                  margin: 0;
                  img {
                    position: relative;
                    z-index: 0;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                  }
                  .slide-overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background: linear-gradient(
                      180deg,
                      rgba(0, 0, 0, 0) 76.25%,
                      rgba(0, 0, 0, 0.4) 100%
                    );
                  }
                  .slide-caption {
                    z-index: 5;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 30px;
                    color: $color_white;
                    @media (max-width: $smd) {
                      padding: 15px;
                    }
                    p {
                      font-size: 12px;
                      margin: 0;
                      color: $color_white;
                      &:first-of-type {
                        margin: 0 0 4px;
                      }
                      small {
                        font-size: 10px;
                      }
                      a {
                        color: $color_white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.modal-wrapper-video {
    .modal-content {
      .container-custom-fluid {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}
