body {
  main {
    &.theme-main {
      overflow: hidden;
    }
  }
  &.woocommerce-checkout {
    main {
      &.theme-main {
        overflow: visible;
      }
    }
  }
}

// QUANTITY
.quantity {
  float: none !important;
  margin: 0 0 0.5em 0 !important;
  font-size: 15px;
  display: inline-block;

  .quantity-inner {
    background-color: $color_white;
    padding: 1em;
    overflow: hidden;
    // max-width: 250px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    @media only screen and (min-width: $sm) {
      padding: 0.6666em 1em;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    p {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 1em;
      line-height: 2em;
      letter-spacing: 0.02em;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      width: 100%;
      border-bottom: 1px solid $color_gray;
      padding-bottom: 1em;
      text-align: center;
      @media only screen and (min-width: $sm) {
        width: 100px;
        border-right: 1px solid $color_gray;
        margin-right: 1.4em;
        border-bottom: none;
        padding-bottom: 0;
        text-align: left;
      }
    }
    .number-out {
      flex: 1;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 1em;
      input {
        font-size: 1em;
        line-height: 2em;
        letter-spacing: 0.02em;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        flex: 1;
        text-align: center;
        padding-left: 3em;
      }
      @media only screen and (min-width: $sm) {
        width: 250px;
        padding-top: 0;
        input {
          flex: inherit;
          text-align: left;
          padding-left: 0;
        }
      }
    }

    .btns-out {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .qty_button {
      position: relative;
      //width: 1em;
      //height: 1em;
      cursor: pointer;
      font-size: 1.6em;
      line-height: 1;

      &.minus {
        margin-right: 1em;
      }

      &.plus {
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    input {
      background-color: transparent;
      border: none;
      color: $color_black;
      font-weight: 300;
      font-size: 1em;
      line-height: 1;
      padding: 0;
      margin: 0;
      width: auto;
      outline: none;

      &[type="number"] {
        //text-align: left;
        pointer-events: none !important;
        background-color: transparent;
        outline: none;
        @include border-radius(0);
        -webkit-appearance: textfield;
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
  &.layout-two {
    border: 1px solid $color_dark_gray;
    .quantity-inner {
      background-color: $color_white;
      padding: 0;

      .number-out {
        width: auto;
        text-align: center;
        padding-top: 0;
        input {
          padding: 0.5em 0;
          max-width: 2.5em;
          border-left: 1px solid $color_dark_gray;
          border-right: 1px solid $color_dark_gray;
          text-align: center;
          font-size: 1em;
          line-height: 1em;
          letter-spacing: 0;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
        }
      }
      .qty_button {
        width: 2.5em;
        font-size: 1em;
        line-height: 1em;
        letter-spacing: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        &.minus {
          margin-right: 0;
        }

        &.plus {
        }

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
// QUANTITY

// SHOP FEATURES
.shop-features-wrapper {
  margin-bottom: 4em;
  border-bottom: 1px solid $color_gray;
  @media only screen and (min-width: $md) {
    border-top: 1px solid $color_gray;
  }

  .shop-feature-col {
    @media only screen and (min-width: $md) {
      border-left: 1px solid $color_gray;
    }
    &:first-child {
      @media only screen and (min-width: $md) {
        border-left: none;
      }
    }

    .shop-feature {
      padding: 1em 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      border-top: 1px solid $color_gray;
      @media only screen and (min-width: $md) {
        border-top: none;
      }

      @media only screen and (min-width: $md) {
        padding: 1.5em 0;
      }
      @media only screen and (min-width: $lmd) {
        flex-direction: row;
      }
      @media only screen and (min-width: $xl) {
        padding: 2em 0;
      }
      span {
        width: 80px;
        height: 40px;
        margin-bottom: 2em;
        @media only screen and (min-width: $lmd) {
          margin-right: 1em;
          margin-bottom: 0;
        }
        @media only screen and (min-width: $xl) {
          margin-right: 2em;
        }
        svg {
          fill: $color_primary;
          width: 100%;
          height: 100%;
          object-fit: contain;
          @media only screen and (min-width: $lmd) {
            width: auto;
            height: auto;
            object-fit: none;
          }
        }
      }

      p {
        margin: 0;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.4em;
        text-align: center;
        @media only screen and (min-width: $lmd) {
          text-align: left;
        }
        @media only screen and (min-width: $xl) {
          font-size: 1.2em;
        }
      }

      &.shipping {
        span {
          @media only screen and (min-width: $lmd) {
            width: 80px;
            height: 40px;
          }
          @media only screen and (min-width: $xl) {
            width: 100px;
            height: 50px;
          }
        }
      }

      &.support {
        span {
          @media only screen and (min-width: $lmd) {
            width: 40px;
            height: 40px;
          }
          @media only screen and (min-width: $xl) {
            width: 56px;
            height: 56px;
          }
        }
      }

      &.security {
        span {
          @media only screen and (min-width: $lmd) {
            width: 40px;
            height: 29px;
          }
          @media only screen and (min-width: $xl) {
            width: 52px;
            height: 38px;
          }
        }
      }
    }
  }
}

body {
  &.woocommerce-cart {
    .shop-features-wrapper {
      display: none;
      @media only screen and (min-width: $md) {
        display: block;
      }
    }
  }
  &.woocommerce-checkout {
    .shop-features-wrapper {
      display: none;
      @media only screen and (min-width: $md) {
        display: block;
      }
    }
  }
}
// SHOP FEATURES
