$color_black: #000000;
$color_white: #ffffff;
$color_gray: #bbbcbc;
$color_dark_gray: #97999b;
$color_light_gray: #d9d9d6;
$color_webGray: #f3f2f0;

$color_primary: #051d35;
$color_primary_2: #192d45;
$color_secondary: #33a8d7;
$color_secondary_2: #75a6ba;
