//@import "../../assets/scss/vars/colors";
//@import "../../assets/scss/vars/breakpoints";
//@import "../../assets/scss/vars/mixins";

section {
  &.google-maps-block-wrapper {
    .container-custom-fluid {
      margin-bottom: 50px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }
    .google-maps-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
      max-height: 600px;
      &:before {
        content: "";
        display: block;
        padding-bottom: 54%;
      }
      .custom-google-map {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
