.eaeblog-block-wrapper {
  position: relative;
  .block-bgimage-wrapper {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .block-overlay {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .block-content-wrapper {
    position: relative;
    z-index: 1;
  }
}
