@import "../../assets/scss/vars/colors";
@import "../../assets/scss/vars/breakpoints";
@import "../../assets/scss/vars/mixins";

section {
  &.gallery-block-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    .gallery-wrapper {
      .gallery-slide {
        .slide-img {
          position: relative;
          &:before {
            content: "";
            display: block;
            padding-bottom: 65%;
          }
          figure {
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: relative;
              z-index: 0;
            }
            .gradient {
              z-index: 5;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.1),
                rgba(0, 0, 0, 0.1)
              );
            }
            figcaption {
              z-index: 10;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              padding: 30px;
              p {
                font-weight: 700;
                color: $color_white;
                font-size: 14px;
                small {
                  font-size: 12px;
                }
                a {
                  color: $color_light_gray;
                }
              }
            }
          }

          .modal-full-img {
            display: none;
            height: 0;
            width: 0;
            position: relative;
            z-index: -1;
          }
          .fullscreen {
            cursor: pointer;
            position: absolute;
            width: 36px;
            height: 36px;
            top: 22px;
            right: 22px;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              position: absolute;
              @include transition(opacity 0.3s ease);
              &.normal {
                width: 90%;
                height: 90%;
                opacity: 1;
              }
              &.hover {
                width: 100%;
                height: 100%;
                opacity: 0;
              }
            }
            &:hover {
              span {
                &.normal {
                  opacity: 0;
                }

                &.hover {
                  opacity: 1;
                }
              }
            }
            @media (max-width: $lmd) {
              width: 30px;
              height: 30px;
              top: 10px;
              right: 10px;
            }
          }
        }
        .slide-caption {
          padding: 12px 0;
          p {
            font-size: 12px;
            margin: 0;
            &:first-of-type {
              margin: 0 0 4px;
            }
            small {
              font-size: 10px;
            }
          }
        }
      }

      &.swiper {
        .gallery-slide {
          .slide-img {
            max-height: 480px;
          }
        }
        flex-direction: column;
        .swiper-wrapper {
          margin-bottom: 50px;
          @media (max-width: $md) {
            margin-bottom: 30px;
          }
        }
        &.swiper-horizontal {
          .swiper-scrollbar {
            position: relative;
            left: auto;
            bottom: auto;
            width: 100%;
            border-radius: 0;
            height: 3px;
            background: $color_dark_gray;
            .swiper-scrollbar-drag {
              border-radius: 0;
              background-color: $color_primary;
              cursor: move;
              cursor: grab;
              cursor: -moz-grab;
              cursor: -webkit-grab;
              &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
              }
            }
          }
          .swiper-button-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
            div {
              position: relative;
              top: auto;
              margin: 0;
              left: auto;
              right: auto;
              cursor: pointer;
              width: 44px;
              height: 44px;
              background-color: $color_secondary;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              @include transition(background-color 0.3s ease-in-out);
              span {
                width: 12px;
                svg {
                  path {
                    fill: $color_white;
                  }
                }
              }
              &:hover {
                background-color: $color_primary;
              }
            }
          }
        }
        .swiper-controls {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          gap: 50px;
          .swiper-scrollbar {
            flex: 1;
          }
        }
      }
      &.masonry {
        .masonry-wrapper {
          position: relative;
          overflow: hidden;
          &:before {
            content: "";
            display: block;
            padding-bottom: 50%;
          }
          @media (max-width: $smd) {
            &:before {
              content: none;
              display: none;
            }
          }
          .masonry-grid {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            @media (max-width: $smd) {
              position: relative;
              top: auto;
              left: auto;
              width: auto;
              height: auto;
            }
            .masonry-slide {
              cursor: pointer;
              position: relative;
              overflow: hidden;
              display: none;
              &:nth-child(1) {
                display: block;
                grid-area: 1 / 1 / 5 / 3;
              }
              &:nth-child(2) {
                display: block;
                grid-area: 1 / 3 / 3 / 5;
              }
              &:nth-child(3) {
                display: block;
                grid-area: 3 / 3 / 5 / 4;
              }
              &:nth-child(4) {
                display: block;
                grid-area: 3 / 4 / 5 / 5;
              }
              @media (max-width: $smd) {
                &:nth-child(1) {
                  grid-area: 1 / 1 / 3 / 5;
                }
                &:nth-child(2) {
                  grid-area: 3 / 1 / 5 / 3;
                }
                &:nth-child(3) {
                  grid-area: 3 / 3 / 5 / 4;
                }
                &:nth-child(4) {
                  grid-area: 3 / 4 / 5 / 5;
                }
              }
              .slide-img {
                position: relative;
                overflow: hidden;
                height: 100%;
                &:before {
                  content: none;
                  display: none;
                }
                figure {
                  position: relative;
                }
              }
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: rgba($color_black, 0.5);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                h1 {
                  padding: 0 10px;
                  color: $color_white;
                }
              }
              .slide-caption {
                display: none;
                position: relative;
                z-index: -1;
              }
            }
          }
        }
      }
      &.single {
        .gallery-slide {
          .slide-img {
            max-height: 480px;
          }
        }
      }
    }
  }
}
