@import "../../assets/scss/vars/colors";
@import "../../assets/scss/vars/breakpoints";

section {
  &.two-columns-block-wrapper {
    overflow: hidden;
    .two-columns-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 50px;
      .col {
        &.col-left {
          flex: 0.38;
        }
        &.col-right {
          flex: 0.62;
        }
        @media (max-width: $lmd) {
          &.col-left,
          &.col-right {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
      @import "../common/scss/info-col";
    }
  }
}
